<!DOCTYPE html>
<!--
    https://www.bingmapsportal.com/Application#    
    https://www.bing.com/api/maps/sdk/mapcontrol/isdk/loadmapasync#JS
    https://docs.microsoft.com/en-us/bingmaps/v8-web-control/map-control-concepts/pushpins/custom-image-pushpin-example    
    https://www.bigdatacloud.com/geocoding-apis
-->
<html>

<head>
    <title>מעק טיסות נתב"ג</title>
    <meta charset="utf-8" />
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect();
        var map = null;
        function setMap() {
            setClock();
            socket.on('weather', function (msg) {
                // 
                document.getElementById("Weather").innerText = msg ;
                
            })
            map = new Microsoft.Maps.Map(document.getElementById("myMap"),
             { credentials: "Am7ABZsl1hVs093AjZV82C3wxd-NCQ-KtBLpdtv4uB1UBvqIx7vcgN7Dw1A9RpQt" });
            socket.on('flights counter', function (msg) {
                // 
                document.getElementById("arrFlightsNumber").innerText = msg['arrFlightsSum'] ;
                document.getElementById("depFlightsNumber").innerText = msg['depFlightsSum'];
            })
            
            
           
            socket.on('flights data1', function (msg) {
            //   alert(msg)
            if(msg ){
                document.getElementById("arrFlightsData").innerText = msg;  
            }else{                
                document.getElementById("arrFlightsData").innerText = "waiting for the prediction"  ;
            }
            })
            socket.on('flights data2', function (msg) {
            //   alert(msg)
            if(msg ){
                document.getElementById("depFlightsData").innerText = msg;  
            }else{                
                document.getElementById("depFlightsData").innerText = "waiting for the prediction"  ;
            }
            })
            
            add();
                
        }
        function setClock() {
            const date = Date.now();
            const dateTimeFormat = new Intl.DateTimeFormat('en', {
                    year: 'numeric',
                    month: 'short',
                    day: '2-digit',
                    hour: 'numeric',
                    minute: 'numeric'
                    })
            var element = document.getElementById("time");
                    const [{
                    value: month
                    }, , {
                    value: day
                    }, , {
                    value: year
                    }, , {
                    value: hour
                    }, , {
                    value: minute
                    }] = dateTimeFormat.formatToParts(date)
            element.innerText = `${hour}:${minute}  ${day}-${month}-${year} `;
            setTimeout(setClock, 1000);
      }
        </script>
        <script type='text/javascript'>
            function add(){
        
                socket.on('flights location', function (location) {
        
                    move();
                    for (let i = 0; i < location.length; i++) {
                        const element = location[i];
                    
                        var loc1 = new Microsoft.Maps.Location(element.lat,element.lng);
                        var pin1 = new Microsoft.Maps.Pushpin(loc1);
                       //Create an infobox at the center of the map but don't show it.
                        infobox = new Microsoft.Maps.Infobox(loc1, {
                            visible: false
                        });
                        //Assign the infobox to a map instance.
                        infobox.setMap(map);
                       
                        pin1.metadata = {
                            title: `${element.flightNumber}`, 
                        };
                        //Add a click event handler to the pushpin.
                        Microsoft.Maps.Events.addHandler(pin1, 'click', pushpinClicked);
                                    
                                    map.entities.push(pin1);                                
                        }   
                    
                      
                }) 
                
                setTimeout(add,10000);
            }
            function pushpinClicked(e) {
                //Make sure the infobox has metadata to display.
                if (e.target.metadata) {
                    //Set the infobox options with the metadata of the pushpin.
                    infobox.setOptions({
                        location: e.target.getLocation(),
                        title: e.target.metadata.title,
                        description: e.target.metadata.description,
                        visible: true
                    });
                }
              }
            function move() {
                for (var i = map.entities.getLength() - 1; i >= 0; i--) {
                    var pushpin = map.entities.get(i);
                    if (pushpin instanceof Microsoft.Maps.Pushpin) {
                        map.entities.removeAt(i);
                    }
                }
            }       
        
        </script>
    <div class="row">
        <div class="column" onclick="openTab('b1');" style="background:green;">טיסות ממתינות לנחיתה
            <p id="arrFlightsNumber"></p>
        </div>
        <div class="column" onclick="openTab('b2');" style="background:blue;">טיסות ממתינות להמראה
            <p id="depFlightsNumber"></p>
        </div>
        <div class="column"  style="background:red;">מזג אוויר 
             <p id="Weather"></p>
             <h4 id="time"></h4> 
        </div>
      </div>
      
      <!-- The expanding grid (hidden by default) -->
      <div id="b1" class="containerTab" style="display:none;background:green">
        <!-- If you want the ability to close the container, add a close button -->
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <h2>טיסות ממתינות לנחיתה
        </h2>
        <p id="arrFlightsData"></p>
      </div>
      
      <div id="b2" class="containerTab" style="display:none;background:blue">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <h2>טיסות ממתינות להמראה
        </h2>
        <p  id="depFlightsData"></p>
      </div>
      
      <div id="b3" class="containerTab" style="display:none;background:red">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
        <h2>מזג אוויר</h2>
        <h4 id="weather"></h4>
      </div>
      <style>
        .column {
            float: left;
            width: 25%;
            padding: 50px;
            text-align: center;
            font-size: 25px;
            cursor: pointer;
            color: white;
            }
            .containerTab {
            padding: 20px;
            color: white;
            }
            /* Clear floats after the columns */
            .row:after {
            content: "";
            display: table;
            clear: both;
            }
            /* Closable button inside the image */
            .closebtn {
            float: right;
            color: white;
            font-size: 35px;
            cursor: pointer;
            }
      </style>
    <script>
        function openTab(tabName) {
            var i, x;
            x = document.getElementsByClassName("containerTab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(tabName).style.display = "block";
        }
    </script>
<div style="padding-top : 20px;
            padding-right: 100px;
            padding-bottom: 100px;
            padding-left: 300px;
            width: 1000px;
            height: 500px;">
                
<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Am7ABZsl1hVs093AjZV82C3wxd-NCQ-KtBLpdtv4uB1UBvqIx7vcgN7Dw1A9RpQt'async defer>
</script>

</head>

<body onload="setMap()">
<div id="myMap" >

</div>

</body>
</body>
</div>